<template>
  <div class="about">
    <h1>This is an about page</h1>
    <Greeting message="hello there!!!" numbers="30 + 30" />
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>

<script setup lang="ts">
import Greeting from "../components/Greeting.vue"
</script>
