<template>
    <div>
        the count is : {{ count }}
    </div>
    <div>
        <button @click="increment()">
            increment
        </button>
        <button @click="incrementBy()">
            increment by 5
        </button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            count: 0
        }
    },
    methods: {
        increment(){
            this.count++
        },
        incrementBy(){
             this.count = this.count + 5
        }
    },
    mounted(){
        console.log(`The initial count is ${this.count}`)
    }
}
</script>
